JWT_SECRET=u7vbm35H0G8p9X

DB_HOST=postgres
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=db
PGADMIN_DEFAULT_EMAIL=n.badjevic@gmail.com
PGADMIN_DEFAULT_PASSWORD=MjbukZBcfEs32cCI6

PORT=3000
FRONTEND_PORT=3000
BACKEND_HOST_PORT=3001

GARAGE_KEY_NAME=cleartax-s3
GARAGE_ACCESS_KEY=GK4f5505f5068752bgVgd2826f6
GARAGE_SECRET_KEY=fbgbcdregf91a57ddef86eb6c53a5ac69698866b361ec97ad44cd7
GARAGE_ENDPOINT=http://garage:3900
GARAGE_REGION=eu-central-1

REACT_APP_GOOGLE_MAPS_API_KEY=AIzaSyA74_uhDbhlowZvQL7QIsffdqqKRXQ0